transformers==4.31.0
torch==1.12.1+cu113
torchvision==0.13.1+cu113
numpy==1.22.4
pandas==1.5.3
matplotlib==3.7.1
gdown==4.7.1
jupyter-client==6.1.12
jupyter-console==6.1.0
jupyter-core==4.11.2
jupyterlab-widgets==3.0.3
